[req]
distinguished_name = req_distinguished_name
prompt = no
[req_distinguished_name]
commonName = development
[ EXT ]
# Extensions to add to a certificate request
keyUsage = digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost